<!DOCTYPE html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Home - Cook Boy</title>
    <style>@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');</style>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-section">
                <a href="#" class="logo">
                    <img src="../img/header/logo.png" alt="Cook Boy logo">
                    <span class="app-name">Cook Boy</span>
                </a>
            </div>
            <div class="header-section">
                <input class="search-bar box" type="text" placeholder="Find a recipe">
                <a href="#" class="categories">Categories</a>
            </div>
            <div class="header-section">
                <button class="log-in box">Log in</button>
                <button class="sign-in box">Sign in</button>
            </div>
        </div>
        <div class="main-content">

        </div>
        <div class="footer">

        </div>
    </div>
</body>