.footer {
    order: 2;
    background: #F4E5E0;
    font-size: 16px;
    min-height: 50px;
    padding: 0px 51px;
    justify-content: space-between;
}

.footer li {
    margin-right: 3vw;
}

.email {
    margin-left: 1vw;
    text-decoration: underline;
}
