@media screen and (min-width: 1024px) {
    .header {
        order: 0;
        min-height: 60px;
        background: #F4E5E0;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 4px 4px rgba(0, 0, 0, 0.25);
        padding: 9px 51px;
    }

    .logo-container {
        font-size: 24px;
    }

    .navigation {
        flex-grow: 1;
        margin-left: 3vw;
    }

    .logo-container img {
        margin-right: 1vw;
        width: 46px;
        height: 65px;
    }

    .search-bar {
        background: #EFEFEF;
        margin-right: 2vw;
        padding-left: 44px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }

    .navigation input::placeholder {
        background-image: url('../img/header/search.png');
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: 13px 9px;
        color: #3b3b3b;
    }

    .navigation a {
        margin-right: 30px;
    }

    .more-button {
        border: none;
        background: none;
    }

    #parent-settings {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

    #settings {
        display: none;
        position: absolute;
    }

    #settings a, #settings form {
        margin: 5px;
    }

    #settings button {
        background-color: #F4E5E0;
        border: none;
        font-size: 18px;
        color: inherit;
        cursor: pointer;
        border-top: #646464 solid 1px;
        padding-top: 5px;
    }

    #parent-settings:hover #settings {
        display: flex;
        flex-direction: column;
        min-width: 100px;
        height: 80px;
        background: #F4E5E0;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
}