@import 'header.css';
@media screen and (min-width: 1024px) {

}

body {
    padding: 0;
    margin: 0;
 }

 .container {
    font-family: 'Outfit', 'Arial';
    width: 100vw;
   height: 100vh;  
   font-size: 18px;
  color: #A46F5F;
  background: #FFF7ED; 
 }

 a {
  color: inherit;
  text-decoration: none;
 }