@import '../style.css' only screen and (min-width: 1024px);

.panel {
    width: 90%;
    height: 50px;
}

.recipes-count {
    width: 100px;
    height: 100%;
    justify-self: flex-start;
}

.filters {
    width: 100px;
    height: 100%;
    justify-self: flex-end;
}